@tailwind base;
@tailwind components;
@tailwind utilities;


#__next {
  min-height: 100%;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeMZs.woff) format('woff');
}

@font-face {
  font-weight: bold;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsW_LM.woff) format('woff');
}
/* Add more @font-face rules for other Lexend font weights/styles as needed */

/* Global styles */
body{
  font-family: sans-serif;
  font-weight: 300;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif; /* Use Lexend font family for headings */
}


/* Add more global styles as needed */
